@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
  /* prettier-ignore */
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Syne, Georgia;
  line-height: 1;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
}

p {
  line-height: 170%;
}
